{% extends "plantilla.html" %}

{% block titulo %} Zeus - Inicio {% endblock %}

{% block contenido %} 

    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Bienvenidos a Zeus - Asistencia</h1>
            <p class="col-md-8 fs-4">
                Este sistema me va a permitir cerrar la puerta cuando llegan supertarde y enviarles correo por no asistir a formación <strong>               DESERCION.</strong>
            </p>
            <button class="btn btn-primary btn-lg" type="button">
                Empezar
            </button>
        </div>
    </div>
    
{% endblock %}